#div-painel{
    height: 100%;
}
.painel{
    width: 100%;
    height: 100%;
    /*background-color: whitesmoke;*/
    border: 2px solid grey;
    display: block; 
    overflow-x: hidden;
    overflow-y: auto;
    /*border: 1px solid black;*/
}

.is-256x256{
    text-align: center;
    width: 190px;
    height: 190px;
    /*background-color: #d8d8d8;*/
}

#quadroDescriptografia{
    padding: 10px 20px;
}

#quadroCriptografia{
    padding: 10px 20px;
}